.cards {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.waiting-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}
